@model Balbet.WEB.Models.PassportViewModel

<div>
    @Html.LabelFor(model => model.Seria) : @Html.DisplayFor(model => model.Seria)
</div>
<div>
    @Html.LabelFor(model => model.Code) : @Html.DisplayFor(model => model.Code)
</div>

